<ion-header no-border>
  <ion-navbar color="dark" no-border transparent>
    <!--<ion-title text-center>{{brew.name.split("/")[1]}}</ion-title>-->

  </ion-navbar>
</ion-header>

<ion-content no-border *ngIf="brew" padding class="main_color"
             style="_background-color: transparent">

  <br>
  <br>
  <ion-card class="modal" class="water_color" >

    <img class="modal-img" [src]="dataSrv.logosPath + brew.icon"/>
    <ion-card-content>
      <ion-card-title text-center="">
        {{brew.name.split("/")[1]}}
      </ion-card-title>
      <h2 text-center="">
        {{brew.city.split("/")[1]}}
      </h2>

      <p text-center="">
        <button ion-button color="danger" clear icon-only *ngIf="brew.mapUrl" (click)="onClickBtn('pin')">
          <ion-icon name="pin"></ion-icon>
        </button>

        <button ion-button color="primary" clear icon-only *ngIf="brew.webUrl" (click)="onClickBtn('web')">
          <ion-icon name="link"></ion-icon>
        </button>

        <button ion-button color="facebook" clear icon-only *ngIf="brew.fbUrl" (click)="onClickBtn('facebook')">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>

        <button ion-button color="secondary"  clear icon-only *ngIf="brew.tel" (click)="onClickBtn('tel')">
          <ion-icon name="call"></ion-icon>
        </button>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="modal" class="water_color">
    <ion-card-header text-center>
      Μπύρες Coomin Soon
    </ion-card-header>

    <ion-list>

      <!--<ion-item>-->
        <!--&lt;!&ndash;<ion-avatar item-start>&ndash;&gt;-->
          <!--&lt;!&ndash;<img src="img/avatar-cher.png">&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-avatar>&ndash;&gt;-->
        <!--<h2 text-center>Coomin Soon</h2>-->
        <!--&lt;!&ndash;<p> 5.7%</p>&ndash;&gt;-->
      <!--</ion-item>-->



    </ion-list>
  </ion-card>
</ion-content>
