page-brews-info {

  .modal-img {
    max-width: 200px;
    width: 80%;
    margin: auto;
    padding-top: 2%
  }

  .modal {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;

    //water_color
    background-image: url('../assets/imgs/texture_04.png');

      //background-color: #ecc080;
      //background-color: #FFCC80;

  }




  .main_color {
    background-image: url('../assets/imgs/texture_04.png');
    background-color: #fa8521;
  }

}





