
<!--<p *ngIf="!brews">Loading ...</p>-->



<div *ngIf="brews">

  <ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>

  <ion-menu [content]="content" >

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="main_color" style="background-image: url('assets/imgs/texture_04.png')">
      <ion-list class="outer-content">
        <ion-list-header>
          <!--Επικοινωνία-->
        </ion-list-header>
        <button ion-item (click)="onClickInfo()" menuClose class="main_color">
          <ion-icon item-start  name="information-circle" [color]="isActive()"></ion-icon>
          Επικοινωνία
        </button>


        <!--<button ion-item menuClose>-->
          <!--<ion-icon item-start name="search" [color]="isActive()"></ion-icon>-->
          <!--test-->
        <!--</button>-->
      </ion-list>

    </ion-content>

  </ion-menu>

</div>


<!--<ion-spinner></ion-spinner>-->

<div *ngIf="brews">
  <img *ngFor="let brew of brews" style="display:none;" [src]="dataSrv.pinsPath + brew.icon" alt="">
  <!--<img *ngFor="let brew of brews" style="display:none;" [src]="dataSrv.logosPath + brew.icon" alt="">-->
</div>
