page-intro {

  .start {
    font-size: 70px;
  }
  .thumb {
    font-size: 70px;
  }
  .headers {
    font-size: 20px;
  }

  .hide-cam {
    height: 2px;
  }

  .scan-btn {
    width: 200px;
    height: 100px;
    margin: auto;
  }

}
//
//.toast-success {
//  background-color: #32db64;
//}
