<!--
  Generated template for the Home2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--ecc080 water-->
<!--eba251 land-->
<ion-header no-border>

  <ion-navbar

               *ngIf="true">
      <ion-toolbar>
        <!--<ion-title>{// contents.length}} Ζυθοποιίες</ion-title>-->
        <ion-buttons left *ngIf="!showSearch">
          <button ion-button icon-only color="royal" menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
        <!--</ion-toolbar>-->
        <ion-title text-center *ngIf="!showSearch">


          {{contents.length}} {{brewTitle[brewMode]}}
          <!--<button ion-button color="switcher">-->
            <!--{{contents.length}} {{brewTitle[brewMode]}}-->
          <!--</button>-->
        </ion-title>
        <!--<ion-toolbar *ngIf = 'true'>-->
        <ion-searchbar
          #searchbar
          *ngIf="showSearch"
          [(ngModel)]="searchKey"
          (ionCancel)="onClickSearchBack()"
          (ionInput)="onChangeSearchInput($event)"
          placeholder="ζυθοποιία, πόλη, μπύρα"
          (ionBlur)="onSearchBlur()"
          [showCancelButton]="true"

        >
        </ion-searchbar>

        <ion-buttons right *ngIf="!showSearch">
          <button ion-button icon-only color="royal" (click)="onClickSearch()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
  </ion-navbar>

  <ion-navbar *ngIf="showSearch" transparent color="dark" style="min-height: auto!important;">
    <ion-title text-center style="background-color: #8080809e">
      {{contents.length}} {{brewTitle[brewMode]}}
    </ion-title>
  </ion-navbar>
  <!--603e21-->
  <!--855329-->


</ion-header>


<ion-content (click)="focusOut()" (touchstart)="focusOut()" >

  <div id="wrapper"
       style="position: relative; height: 100%; pointer-events:auto">

    <!--MAP-->
    <div #map id="map"
    style="height: 100%;background-color: #eba251;width:100%;position: relative;"></div>


    <div id="over_map" style="
    position: absolute; top: 0px; left: 0px; z-index: 99;
    background-image: url('assets/imgs/texture_04.png');

    /*opacity: 0.35;*/
    pointer-events:none;
    height: 100%;
    width: 100%;
    ">
    </div>

    <!--<div id="legend" style="-->
    <!--position: fixed; top: 60px; left: 5%; z-index: 99 ;-->
    <!--pointer-events:none;-->
    <!--">-->
      <!--<h3 ion-text color="light">{{contents.length}} Ζυθοποιίες</h3>-->
    <!--</div>-->


    <div *ngIf="!mapMode" style="pointer-events: auto">
      <!--<div id="over_map_list_background"-->
           <!--style="-->
      <!--position: absolute; top: 0px; left: 0px; z-index: 98;-->
      <!--background-color: red;-->
      <!--/*background-image: url('assets/imgs/texture.jpg');background-repeat: repeat;*/-->
      <!--pointer-events:none;-->
      <!--height: 100%;-->
      <!--width: 100%;-->
      <!--">-->
      <!--</div>-->


      <div id="over_map_list" style="
      position: absolute; top: 0px; left: 0px; z-index: 99;
      height: 100%;
      width: 100%;
      background-color: rgba(6,6,6,0.8);
      " class="">
        <br>
        <br>
        <br>
        <br>
        <div *ngIf="showSearch">
          <br><br><br>
        </div>

        <!--<div style="height: 110px"></div>-->
        <ion-scroll scrollY="true" style="height: 80%;max-width: 650px; margin: auto; pointer-events: auto">
          <ion-grid>
            <ion-row>
              <ion-col
                text-center
                class="col-style"
                *ngFor="let brew of currentBrews"  (click)="onClickBrewItem(brew)"

              >
                <div text-center class="card" >
                    <div style="position: relative">
                      <ion-badge class="badge">{{brew.beers | number}}</ion-badge>
                      <img [src]="dataSrv.pinsPath + brew.icon" class="modal-img">
                    </div>




                    <h5  no-padding class="card-title" no-margin text-center>
                      {{brew.name.split("/")[1]}}, <b>{{brew.city.split("/")[1]}}</b>
                    </h5>
                    <!--<h4 no-margin class="card-subtitle">{{brew.city.split("/")[1]}}</h4>-->
                </div>


                <!--<h3>{{brew.city.split("/")[1]}}</h3>-->
                <!--<p style="color: #603e21">3 μπύρες</p>-->


              </ion-col>
            </ion-row>
            <!--<ion-row>-->
              <!--<ion-col>-->
                <!--<h4 style="color: white;border-bottom: none">A</h4>-->
              <!--</ion-col>-->

            <!--</ion-row>-->



          </ion-grid>

        </ion-scroll>
        <!--<div style="height: 100px"></div>-->
      </div>
    </div>

    <!--<button (click)="onClickMapMode()" round-->
            <!--ion-button icon-start color="primary"-->
            <!--style="position: fixed; bottom: 10%;right: 10%;z-index: 100;"-->
    <!--&gt;{{modeLabel}}</button>-->

    <!--<div id="over_map2" style="-->
    <!--position: absolute; top: 0px; left: 0px; z-index: 99;-->
    <!--background-image: url('assets/imgs/texture2.jpg');-->
    <!--opacity: 0.002;-->
    <!--pointer-events:none;-->
    <!--height: 100%;-->
    <!--width: 100%;-->
    <!--">-->
    </div>
  <ion-fab middle right #fab>
    <img class ="fab" ion-fab [src]="'assets/imgs/fabs/' + brewMode + '.png'" alt="">
    <!--<button ion-fab style="background-image_: url('assets/imgs/150x150cp/0.png')">Share</button>-->
    <ion-fab-list side="left" style="width:200px">
      <img class="fab-item" ion-fab
           [src]="'assets/imgs/fabs/' + fab1 +'.png'" (click)="onClickBrewMode(fab1, fab)">
      <img class="fab-item" ion-fab [src]="'assets/imgs/fabs/' + fab2 +'.png'" (click)="onClickBrewMode(fab2, fab)">
      <!--<img class="fab-item" ion-fab src="assets/imgs/fabs/1.png">-->
      <!--<button ion-fab>Facebook</button>-->
      <!--<button ion-fab>Twitter</button>-->
    </ion-fab-list>
  </ion-fab>

  <img  (load)="imgLoaded()"
    [src]="dataSrv.logosPath + selectedBrew.icon"
    *ngIf="selectedBrew" style="display: none">
</ion-content>

<ion-footer no-border>
  <ion-toolbar text-center transparent="">
    <ion-buttons solid>
      <button color="switcher" *ngIf="!mapMode"ion-button solid icon-start (click)="onClickMapMode()">
        <ion-icon name="map"></ion-icon>
        Map
      </button>
      <button color="switcher" ion-button *ngIf="mapMode" solid icon-start (click)="onClickMapMode()">

        <ion-icon  name="ios-keypad"></ion-icon>
        List
      </button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>


