
page-home2 {


  //#map {
  //  width: 100%;
  //  height: 100%;
  //}

}


.searchbar-ios-cancel{
  margin-right: 0px !important;
  opacity: 1!important;
  padding-left: 10px !important;
}
.searchbar-md .searchbar-md-cancel{
  display: inline-flex !important;
  background-color: white !important;
}
.searchbar-search-icon{
  display: none;
}



.scroll-content {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
